<div class="special-reservations">
  <h1>Eventos Especiales</h1>
   <img src="assets/logo.png" alt="Logo del Restaurante" class="logo" width="150">


  <!-- Lista de eventos -->
  <div class="events">
    <div class="event-card" *ngFor="let event of events">
      <h2>{{ event.name }} - {{ event.date }}</h2>
      <p>{{ event.description }}</p>
      <button (click)="selectEvent(event)">Ver Paquetes</button>
    </div>
  </div>

  <!-- Paquetes del evento seleccionado -->
  <div *ngIf="selectedEvent" class="packages">
  <h2>Paquetes para {{ selectedEvent.name }}</h2>
  
  <div class="packages-row">
    <div class="package-card" *ngFor="let pkg of selectedEvent.packages">
      <h3>{{ pkg.name }}</h3>
      <p>Incluye: {{ pkg.entry }}, {{ pkg.main }}, {{ pkg.drink }}, {{ pkg.dessert }}</p>
      <p><strong>Precio: ${{ pkg.price }}</strong></p>
      <button (click)="reserve(pkg)">Reservar</button>
    </div>
  </div>
</div>

  <!-- Menú exclusivo -->
  <div *ngIf="selectedEvent" class="menu">
    <h2>Menú exclusivo</h2>
    <ul>
      <li *ngFor="let item of selectedEvent.menu">{{ item }}</li>
    </ul>

    <button (click)="selectedEvent = null">Ver solo Eventos Especiales</button>

  </div>
</div>
